<div id="header">
<h1 id="game_details">Welcome to JunkFood</h1>
</div>

<h1 id="game_details">What's your JunkFood???</h1>
<br>
<h2 id="game_details">What is 'JunkFood'?</h2>
<h2 id="game_details">You know when you love something, some might say, an unhealthy amount?</h2>
<h2 id="game_details">That thing, IS your JunkFood</h2>
<h2 id="game_details">For the founders here at JunkFood, </h2>
<h2 id="game_details">games are arguably our biggest JunkFood.</h2>
<h2 id="game_details">So this is where we will start, with gaming and someday, </h2>
<h2 id="game_details">you will see options for everyone's "JunkFood"</h2>
<%= button_to "Enter Here", games_path, method: :get %>