/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #box {
    background: url("../images/banner_01.png");
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e1e8e3;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

/* unvisited link */
#footer a:link {
    color: white;
  }
  
  /* visited link */
  #footer a:visited {
    color: white;
  }
  
  /* mouse over link */
  #footer a:hover {
    color: white;
  }
  
  /* selected link */
  #footer a:active {
    color: white;
  }

 h1 {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 #games_header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.747);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#nav_button {
    background-color: #adadad77;
    border-radius: 25px;
    margin: 10px;
}

#game_list {
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

#game_list span {
    border-radius: 25px;
    background-color: #adadad8a;
    padding: 10px;
    display: inline;
}

#game_details {
    display: inline-block;
}

#review {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#review\ rating {
    font-size: 20px;
}

#review_show_box {
    padding-left: 15px;
}
// .navbar-header {

// }

// .nav navbar-nav {

// }

// .nav navbar-nav navbar-right {
    
// }