<h1> New Review </h1>

<%= form_for([@game, @game.reviews.build]) do |f| %>
   <% f.label :rating%> Rating:  <br>
    <%= f.number_field :rating, in: 1..5%> <br> <br>

    <% f.label :content %> Review: <br>
    <%= f.text_area :content%> <br> <br>

    <%= f.submit "Submit" %>
<% end %>



